/* Define o cursor como ponteiro para todos os links, melhorando a usabilidade */
a {
  cursor: pointer;
}

/* Estilo para blocos de código nos artigos */
pre {
  background-color: #f3f4f6; /* Cor de fundo cinza claro */
  border: 1px solid #e5e7eb; /* Borda cinza */
  border-radius: 8px; /* Cantos arredondados */
  padding: 16px; /* Espaçamento interno */
  overflow-x: auto; /* Adiciona scroll horizontal se o código for muito grande */
  font-family: 'Courier New', Courier, monospace; /* Fonte monoespaçada */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Estilos para o conteúdo do artigo */
.article-content h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e7edf4;
    padding-bottom: 0.5rem;
}

.article-content p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.article-content ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 1rem;
}